* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: sans-serif;
}

body {
  background-color: #7398af;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  background-color: #ffffffd0;
  width: 60vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px 50px 50px 70px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.logo {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  color: #cb7e6b;
  text-align: center;
  padding-bottom: 40px;
}

.logo i {
  color: #4487b5;
}

.logo .dark-mode i {
  color: rgb(255, 255, 255);
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  border-radius: 3px;
  outline: none;
  border-bottom: 3px solid #62798b;
  font-size: 16px;
}

.search-box button {
  padding: 15px 0;
  width: 25%;
  background-color: #4682b4;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
}

.result {
  position: relative;
}

.result h3 {
  font-size: 30px;
  color: #1a5c9e;
}

.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.result button {
  background-color: transparent;
  color: #4682b4;
  border: none;
  outline: none;
  font-size: 18px;
}

.result .details {
  display: flex;
  gap: 10px;
  color: #5e8a99;
  margin: 5px 0 20px 0;
  font-size: 14px;
}

.words-meaning {
  color: #4682b4;
}

.word-example {
  color: #4682b4;
  font-style: italic;
  padding-left: 10px;
  margin-top: 30px;
}

.word-synonyms {
  color: #4682b4;
  font-style: italic;
  padding-left: 10px;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 15px;
  margin-top: 10px;
}

body.dark-mode {
  background-color: #121a21;
  color: #ecf0f1;
}

.container.dark-mode {
  background-color: #34495e;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.search-box input.dark-mode {
  border-bottom: 3px solid #44c9ae;
}

.search-box button.dark-mode {
  background-color: #1abc9c;
  color: #ecf0f1;
}

.result h3.dark-mode {
  color: #f9fbfd;
}

.result button.dark-mode {
  color: #ecf0f1;
}

.result .details.dark-mode {
  color: #7dbabe;
}

.words-meaning.dark-mode,
.word-example.dark-mode,
.word-synonyms.dark-mode {
  color: #ecf0f1;
}

.theme-switcher {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 100px;
}

.theme-switcher i {
  font-size: 25px;
  color: #333;
  margin: 0 5px;
}

.theme-switcher input {
  display: none;
}

.slider {
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

input:checked ~ .fa-sun {
  color: #f7f7f7;
}

input:checked ~ .fa-moon {
  color: #666;
}

@media screen and (max-width: 768px) {
  .theme-switcher {
    top: 20px;
    right: 50px;
  }

  .theme-switcher i {
    font-size: 20px;
  }

  .slider {
    width: 40px;
    height: 20px;
  }

  .slider::before {
    width: 16px;
    height: 16px;
  }

  input:checked + .slider::before {
    transform: translateX(20px);
  }
}

@media screen and (max-width: 480px) {
  .theme-switcher {
    top: 10px;
    right: 20px;
  }

  .theme-switcher i {
    font-size: 18px;
  }

  .slider {
    width: 35px;
    height: 18px;
  }

  .slider::before {
    width: 14px;
    height: 14px;
  }

  input:checked + .slider::before {
    transform: translateX(17px);
  }
}
