body {
  background-image: url(https://www.askideas.com/media/14/Smile-Wallpaper.jpg);
  background-color: #1a1a1a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 400px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 120px;
  margin: 0;
  padding: 0;
}

.nav a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav :hover {
  cursor: pointer;
  color: red;
}

.content h1 {
  font-size: 50px;
  margin: 0;
}

#countdown {
  font-size: 40px;
  margin: 20px 0;
}

.labels {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  margin-top: 10px;
}
