table{
     border-collapse: collapse;
   }
   th{
     background-color: #427fef;
     color: white;
     padding: 8px;
     text-align: left;
    }

    tr{
     padding: 8px;
     text-align: left;
    }

    td{
     padding: 8px;
     text-align: center;
    }
       
    tfoot{
     background-color: #427fef;
     color: white;
     padding: 8px;
     text-align: left;
   }
   tr:nth-child(even){
     background-color: #f2f2f2ce;
   }

   tr:nth-child(even){
     background-color: #eef7ff93;
       }